.Regions{
    .RegionsCard{
        background: #FFFFFF;
        border-radius: 12px;
        box-shadow: none;
        padding: 10px;
        h1{
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            color: rgba(0, 0, 0, 0.9);
            margin: 20px 0;
        }
        .card-content{
            padding: 10px;
        }
        .cardContent{
            p{
                color: #6B93FF;
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
                span{
                    margin-left: 10px;
                    width: 85%;
                }
            }
        }
    }
}
@media(max-width:1440px){
    .Regions{
        .RegionsCard{
            padding: 10px;
            height: 380px;
            h1{
                font-size: 20px;
                line-height: 28px;
                margin: 15px 0;
            }
            .card-content{
                padding: 5px;
            }
            .cardContent{
                p{
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 25px;
                    span{
                        margin-left: 5px;
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media(max-width:1200px){
    .Regions{
        .RegionsCard{
            padding: 10px;
            height: 440px;
            h1{
                font-size: 20px;
                line-height: 28px;
                margin: 15px 0;
            }
            .card-content{
                padding: 5px;
            }
            .cardContent{
                p{
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 25px;
                    span{
                        margin-left: 5px;
                        width: 90%;
                    }
                }
            }
        }
    }
}
@media(max-width:768px){
    .Regions{
        .RegionsCard{
            padding: 10px;
            height: 400px;
        }
    }
}
@media(max-width:600px){
    .Regions{
        .RegionsCard{
            padding: 10px;
            height: 450px;
        }
    }
}