.footer{
    background: #F0F3F5;
    padding: 70px 0 45px 0;
    .footerCol{
        .footerList{
            .footerListItem{
                margin-bottom: 30px;
                .footerLogo{
                    display: flex;
                    align-items: center;
                    margin-bottom: 32px;
                    img{
                        width: 100px;
                        height: 100px;
                        margin-right: 22px;
                        
                    }
                    p{
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 26px;
                        line-height: 32px;
                        color: #2C3E50;
                        width: 216px;
                        height: 64px;
                    }
                }
                .getHelpbutton{
                    background: #2C3E50;
                    border-radius: 10px;
                    width: 350px;
                    height: 70px;
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 22px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    &:hover{
                        background: #FFFFFF;
                        color: #2C3E50;
                        border: 4px solid #2C3E50;
                    }
                }
                .sitemapbutton{
                    background: #FFFFFF;
                    width: 350px;
                    height: 70px;
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 22px;
                    margin-bottom: 80px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #2C3E50;
                    border: 4px solid #2C3E50;
                    box-sizing: border-box;
                    border-radius: 10px;
                    // &:hover{
                    //     color: #FFFFFF;
                    //     background: #2C3E50;
                    // }
                }
                .footerListItemLink{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #2C3E50;
                    opacity: 0.5;
                    
                }
                
            }
            .footerListItemHead{
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 34px;
                color: #2C3E50;
                margin-bottom: 30px;
                margin-top: 40px;
            }
        }
    }
    .footerBottom{
        border-top: 2px solid #2c3e5056;
        padding: 47px 0 0 0;
        .copyWrap{
            .copyMahalla{
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 32px;
                /* identical to box height, or 200% */
                color: #000000;
                opacity: 0.5;
                text-align: center;
            }
            .copy{
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 32px;
                /* identical to box height, or 200% */
                color: #000000;
                opacity: 0.5;
                text-align: center;
                span{
                    font-size: 24px;
                }
            }
        }
        .socials{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .socialsWrap{
               .social-icon{
                   margin-right: 15px;
                    width: 70px;
                    height: 70px;
                   .social-svg{
                       border-radius: 15px !important;
                       width: 70px;
                       height: 70px;
                   }
               }
            }
        }
    }
}


@media(max-width:1440px){
    .footer{
        padding: 20px 0 5px 0;
        .footerCol{
            .footerList{
                .footerListItem{
                    margin-bottom: 20px;
                    .footerLogo{
                        margin-bottom: 20px;
                        img{
                            width: 70px;
                            height: 70px;
                            margin-right: 12px;
                        }
                        p{
                            font-size: 22px;
                            line-height: 28px;
                            width: 216px;
                            height: 64px;
                        }
                    }
                    .getHelpbutton{
                        width: 100%;
                        height: 60px;
                        font-size: 18px;
                        line-height: 22px;
                    }
                    .sitemapbutton{
                        width: 100%;
                        height: 60px;
                        font-size: 18px;
                        line-height: 22px;
                        margin-bottom: 60px;
                    }
                    .footerListItemLink{
                        font-size: 18px;
                        line-height: 22px;
                    }
                    
                }
                .footerListItemHead{
                    font-size: 24px;
                    line-height: 34px;
                }
            }
        }
        .footerBottom{
            padding: 47px 0 0 0;
            .copyWrap{
                .copyMahalla{
                    font-size: 16px;
                    line-height: 32px;
                }
                .copy{
                    font-size: 16px;
                    line-height: 32px;
                    span{
                        font-size: 24px;
                    }
                }
            }
            .socials{
                .socialsWrap{
                   .social-icon{
                        width: 50px !important; 
                        height: 50px !important;
                       .social-svg{
                           width: 50px !important;
                           height: 50px !important;
                       }
                   }
                }
            }
        }
    }
}