.header{
    // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 140px;
    background-color: white;
    // position: fixed;
    // top: 0;
    width: 100%;
    z-index: 100;
    .logo_wrapp{
    display: flex;
    align-items: center;
    margin-top: 10px;
    img{
        width: 100px;
        height: 100px;
        margin-right: 22px;
    }
    p{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        /* or 123% */
        width: 238px;
        height: 64px;

        /* Blur */

        color: #2C3E50;
    }
}
.weather_lang_valute{
    margin-top: 20px;
    .weather{
        .weather_count{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 46px;
            /* identical to box height, or 115% */
            width: 23px;
            height: 46px;
            color: #000000;
           margin-left: 10px;
        }
        .weather_celsiy_circle{
            width: 12px;
            height: 12px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 30px;
            /* identical to box height, or 115% */
            position: relative;
            top: -8px;
            color: #000000;
        }
        .weather_celsiy{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            /* identical to box height, or 130% */

            margin-left: -13px;
            color: #000000;

            opacity: 0.5;
        }
        p{
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 200% */

            margin-top: 15px;
            margin-bottom: 25px;
            color: #000000;
            .usd_balance{
                color: red;
                position: relative;
                top:-5px;
                left: 5px;
            }
        }
    }
    .lang{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
       .dropdown{
           a{
                color: #2C3E50;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
           }
       }
        .dropdown_lang{
            display: flex;
            align-items: center;
            position: relative;
            top: -15px;
            margin: 0 !important;
            p{
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                /* identical to box height, or 125% */


                /* Blur */
                margin-right: 20px;
                color: #2C3E50;
            }
            img{
                margin-right: 25px;
            }
            .dropdown_icon{
                color: #2C3E50;
            }
        }
        .usdvalute{
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 200% */
            position: relative;
            top: -28px;
            margin-bottom: 25px;
            color: #000000;
            .usd_balance{
                color: red;
                position: relative;
                top:-5px;
                left: 5px;
            }
        }
    }
}
}
.headerMobile{
    position: sticky;
    top: 0;
    z-index: 1;
    display: none;
    .sidenav{
       .lang{
           .dropdown{
               a{
                   line-height: 48px !important;
               }
           }
       }
       p{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        .usd_balance{
            color: red;
            position: relative;
            top:-5px;
            left: 5px;
        }
        }
        .collapsible{
            li.active{
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #6B93FF;
                background-color: #FFFFFF;
            }
        }
        .collapsible-header{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
            &:hover{
                background-color: #FFFFFF;
            }
        }
    }
}
@media(max-width:1270px){
    .header{
        height: 100px;
        width: 100%;
        .logo_wrapp{
        margin-top: 0px;
        img{
            width: 70px;
            height: 70px;
            margin-right: 20px;
        }
        p{
            font-size: 22px;
            line-height: 32px;
            width: 238px;
            height: 64px;
        }
    }
    .weather_lang_valute{
        margin-top: 10px;
        .weather{
            .weather_count{
                font-size: 30px;
                line-height: 36px;
                width: 23px;
                height: 36px;
               margin-left: 10px;
            }
            .weather_celsiy_circle{
                width: 12px;
                height: 12px;
                font-size: 28px;
                line-height: 25px;
                top: -6px;
            }
            .weather_celsiy{
                font-size: 20px;
                line-height: 26px;
                margin-left: -13px;
            }
            p{
                font-size: 13px;
                line-height: 20px;
                margin-top: 5px;
                margin-bottom: 5px;
                .usd_balance{
                    top:-5px;
                    left: 5px;
                }
            }
        }
        .lang{
           .dropdown{
               a{
                    font-size: 16px;
                    line-height: 20px;
               }
           }
            .dropdown_lang{
                top: -15px;
                margin: 0 !important;
                p{
                    font-size: 20px;
                    line-height: 26px;
                    margin-right: 20px;
                }
                img{
                    margin-right: 20px;
                }
            }
            .usdvalute{
                font-size: 13px;
                line-height: 24px;
                top: -28px;
                margin-bottom: 5px;
                .usd_balance{
                    top:-5px;
                    left: 5px;
                }
            }
        }
    }
    }
}
@media(max-width:1120px){
    .header{
        height: 100px;
        width: 100%;
        .logo_wrapp{
        img{
            width: 70px;
            height: 70px;
            margin-right: 15px;
        }
        p{
            font-size: 20px;
            line-height: 26px;
            width: 238px;
            height: 100%;
        }
    }
    .weather_lang_valute{
        margin-top: 10px;
        .weather{
            .weather_count{
                font-size: 30px;
                line-height: 36px;
                width: 23px;
                height: 36px;
               margin-left: 10px;
            }
            .weather_celsiy_circle{
                width: 12px;
                height: 12px;
                font-size: 28px;
                line-height: 25px;
                top: -6px;
            }
            .weather_celsiy{
                font-size: 20px;
                line-height: 26px;
                margin-left: -13px;
            }
            p{  
                position: relative;
                left: -20px;
                width: 150px;
                font-size: 13px;
                line-height: 20px;
                margin-top: 5px;
                margin-bottom: 5px;
                .usd_balance{
                    top:-5px;
                    left: 5px;
                }
            }
        }
        .lang{
           .dropdown{
               a{
                    font-size: 16px;
                    line-height: 20px;
               }
           }
            .dropdown_lang{
                top: -15px;
                margin: 0 !important;
                p{
                    font-size: 20px;
                    line-height: 26px;
                    margin-right: 20px;
                }
                img{
                    margin-right: 20px;
                }
            }
            .usdvalute{
                font-size: 13px;
                line-height: 24px;
                top: -28px;
                margin-bottom: 5px;
                .usd_balance{
                    top:-5px;
                    left: 5px;
                }
            }
        }
    }
    }
}
@media(max-width:992px){
    .headerXl{
        display: none !important;
    }
    .headerMobile{
        display: block;
    }
}