.navbar{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    background: #F7F8F9a4 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    .navLinks{
        .navLinksList{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .navLinksListItem{
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                margin-top: -20px;
                margin-bottom: 20px;
                /* identical to box height, or 125% */
                .navLinksListItemLink{
                    color: rgba(0, 0, 0, 0.9) ;
                }
                .active{
                    color: #6B93FF;;
                }
            }
        }
    }
}

@media(max-width:1440px){
    .navbar{
        .navLinks{
            .navLinksList{
                .navLinksListItem{
                    font-size: 20px;
                    line-height: 25px;
                    margin-top: -20px;
                    margin-bottom: 20px;
                    .active{
                        color: #6B93FF;;
                    }
                }
            }
        }
    }
}