.MainNews{
    .mainNewsCard{
        background: #FFFFFF;
        border-radius: 12px;
        padding: 15px;
        box-shadow: none;
        margin: 0;
        
        .card-image{
            img{
                border-radius: 10px !important;
                cursor: pointer;
                width: 100%;
                object-fit: cover;
            }
            
        }
        .card-content{
            padding: 0 15px !important;
        }
        .newsTag{
            background: #e4ebff;
            border-radius: 16px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            width: 181px;
            height: 32px;
            text-align: center;
            text-transform: uppercase;
            margin: 24px 15px 0 15px;
            color: #5B82EB;

        }
        .mainNewsContent{
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
            color: rgba(0, 0, 0, 0.9);
            margin-bottom: 48px;
            opacity: 0.5;
        }
        .mainNewsTitle{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 38px;
            margin: 24px 0;
            color: rgba(0, 0, 0, 0.9);
        }
        .mainNewsMoreIcon{
            position: relative;
            left: 20px;
            top: -150px;
        }
        .mainNewsCardCloseIcon{
            position: relative;
            left: 0px;
            top: -200px;
        }
        .accessTime{
            display: flex;
            align-items: center;
            .accessTimeIcon{
                font-size: 30px;
                margin-right: 12px;
                opacity: 0.5;
            }
            .accessTimeCount{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                color: rgba(0, 0, 0, 0.9);
            }
        }
        .accessDate{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            margin-left: 30px;
            color: rgba(0, 0, 0, 0.9);
        }
        .filesavewrapp{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .filesave{
                display: flex;
                align-items: center;
                border: 2px solid #6B93FF;
                box-sizing: border-box;
                border-radius: 24px;
                width: 186px;
                height: 34px;
                padding: 8px 30px;
                .fileSaveContext{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    width: 100px;
                    height: 18px;
                    color: #6B93FF;

                }
                .fileSaveIcon{
                    font-size: 17px;
                    margin-right: 10px;
                }
            }
        }
        
    }
}

@media (max-width:1440px){
    .MainNews{
        .mainNewsCard{
            padding: 10px;
            .card-content{
                padding: 0 10px !important;
            }
            .newsTag{
                font-size: 10px;
                width: 141px;
                height: 28px;
                margin: 14px 15px 0 5px;
            }
            .mainNewsContent{
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 28px;
            }
            .mainNewsTitle{
                font-size: 24px;
                line-height: 28px;
                margin: 14px 0;
            }
            .mainNewsMoreIcon{
                position: relative;
                left: 10px;
                top: -140px;
            }
            .mainNewsCardCloseIcon{
                position: relative;
                left: 0px;
                top: -120px;
            }
            .accessTime{
                .accessTimeIcon{
                    font-size: 24px;
                    margin-right: 12px;
                }
                .accessTimeCount{
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .accessDate{
                font-size: 16px;
                line-height: 20px;
            }
            .filesavewrapp{
                .filesave{
                    width: 176px;
                    height: 30px;
                    padding: 0px 20px;
                    .fileSaveContext{
                        font-size: 12px;
                        line-height: 18px;
                        width: 100%;
                    }
                    .fileSaveIcon{
                        font-size: 14px;
                        margin-right: 10px;
                    }
                }
            }
            
        }
    }
}
@media (max-width:1270px){
    .MainNews{
        .mainNewsCard{
            .newsTag{
                margin: 14px 15px 0 5px;
            }
            .mainNewsContent{
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 24px;
            }
            .mainNewsTitle{
                font-size: 22px;
                line-height: 24px;
                margin: 15px 0;
            }
            .mainNewsMoreIcon{
                top: -130px;
            }
            .mainNewsCardCloseIcon{
                top: -115px;
                left: 10px;
            }
            .accessTime{
                .accessTimeIcon{
                    font-size: 22px;
                    margin-right: 10px;
                }
                .accessTimeCount{
                    font-size: 15px;
                    line-height: 18px;
                }
            }
            .accessDate{
                font-size: 15px;
                line-height: 18px;
            }
            .filesavewrapp{
                .filesave{
                    width: 156px;
                    height: 30px;
                    padding: 0px 15px;
                    .fileSaveContext{
                        font-size: 12px;
                        line-height: 18px;
                        width: 100%;
                    }
                    .fileSaveIcon{
                        font-size: 14px;
                        margin-right: 10px;
                    }
                }
            }
            
        }
    }
}

@media (max-width:576px){
    .MainNews{
        .mainNewsCard{
            .mainNewsContent{
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;
            }
            .mainNewsTitle{
                font-size: 18px;
                line-height: 20px;
                margin: 15px 0;
            }
            .mainNewsMoreIcon{
                top: -130px;
            }
            .mainNewsCardCloseIcon{
                top: -125px;
                left: 10px;
            }
            .accessTime{
                .accessTimeIcon{
                    font-size: 20px;
                    margin-right: 5px;
                    
                }
                .accessTimeCount{
                    font-size: 13px;
                }
            }
            .accessDate{
                font-size: 13px;
            }
            .filesavewrapp{
                .filesave{
                    width: 156px;
                    height: 30px;
                    padding: 0px 10px;
                    .fileSaveContext{
                        font-size: 10px;
                        line-height: 18px;
                        width: 100%;
                    }
                    .fileSaveIcon{
                        font-size: 14px;
                        margin-right: 5px;
                    }
                }
            }
            
        }
    }
}