.MediatekaHead{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: rgba(0, 0, 0, 0.9);
}

.one___flkjsjJJNJnn_nANN8hG_YG7GY7g7BH9{
    height: 300px !important;
    border-radius: 10px !important;
    box-shadow: none !important;
     background-color: transparent !important;
    .ReactVideo{
        border-radius: 10px !important;
        box-shadow: none;
        background-color: white !important;
}
}
.video-react{
    border-radius: 10px !important;
}
.poster{
    div{
        border-radius: 10px !important;
        height: 300px;
        background: none;
    }
}
.video-react-lower-bar_dhhiahhbhhbhb3767d7637____u{
            border-radius: 10px;
}
.video-react-controls{
            border-radius: 10px;
}
.materialboxed{
    width: 100%;
    height: 300px;
    border-radius: 10px !important;
}
.reactAudio{
    margin-bottom: 22px;
    border: 2px solid #F0F3F5 !important;
    background-color: white !important;
    border-radius: 10px !important;
}
.visa{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.upay{
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px;
    margin-bottom: 0px;
}
.click{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


@media(max-width:1440px){
    .MediatekaHead{
        font-size: 38px;
        line-height: 45px;
    }
    
    .one___flkjsjJJNJnn_nANN8hG_YG7GY7g7BH9{
        height: 250px !important;
    }
    .poster{
        div{
            height: 250px;
            div{
                width: 50px !important;
                height: 50px !important;
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
            }
        }
    }
    .materialboxed{
        width: 100%;
        height: 250px;
    }
    .reactAudio{
        margin-bottom: 20px;
        height: 80px !important;
    }
    .MuiGrid-item{
        padding: 0 8px !important;
    }
    .visa{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img{
            width: 70%;
        }
    }
    .upay{
        img{
            width: 70%;
        }
    }
    .click{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img{
            width: 70%;
        }
    }
    .payme{
        img{
            width: 70%;
        }
    }
}