.NeediesCard{
    .cardNeedy{
        background: #FFFFFF;
        border: 1px solid #F0F3F5;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: none;
        margin-bottom: 0px;
        .card-content{
            padding: 16px;
        }
        .card-image {
            img{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                
                height: 280px;
            }
        }
        .name{
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: rgba(0, 0, 0, 0.9);
            margin-bottom: 4px;
        }
        .age{
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: rgba(0, 0, 0, 0.9);
            opacity: 0.5;
        }
        .reason{
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: rgba(0, 0, 0, 0.9);
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
            .progress{
                background-color: #c5d3f8 ;
                border-radius: 15px;
                height: 6px;
                margin-bottom: 10px;
            .determinate{
                background: #6B93FF;
            }
            
        }
        .amount_paid{
            margin: 0;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 30px;
            text-align: left;
            color: rgba(0, 0, 0, 0.9);
            span{
                font-size: 18px;
                line-height: 24px;
            }
        }
        .amount_tobe_paid{
            margin: 0;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 30px;
            color: rgba(0, 0, 0, 0.9);
            opacity: 0.5;
            text-align: end;
            margin-bottom: 22px;
            span{
                font-size: 18px;
                line-height: 24px;
            }
        }
        .volunterHelp{
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            &:hover{
                 .iconChevron{
                     transform: translateX(10px);
                    transition: all 0.3s ease;
                 }
            }
            span{
                font-family: Gilroy;
                font-style: normal;
                font-weight: 800;
                font-size: 20px;
                line-height: 22px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #6B93FF;
            }
            .iconChevron{
                font-size: 30px;
                color: #6B93FF;
            }
        }
    }
}


@media(max-width:1440px){
    .NeediesCard{
        .cardNeedy{
            .card-content{
                padding: 10px;
            }
            .card-image {
                img{
                    height: 100%;
                }
            }
            .name{
                font-size: 22px;
                line-height: 28px;
            }
            .age{
                font-size: 14px;
                line-height: 22px;
            }
            .reason{
                font-size: 16px;
                line-height: 20px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            .amount_paid{
                font-size: 18px;
                line-height: 22px;
                margin-top: 5px;
                span{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .amount_tobe_paid{
                margin-top: 5px;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 22px;
                span{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .volunterHelp{
                margin-bottom: 20px;
                span{
                    font-size: 18px;
                    line-height: 22px;
                }
                .iconChevron{
                    font-size: 28px;
                }
            }
        }
    }
}
@media(max-width:1270px){
    .NeediesCard{
        .cardNeedy{
            .card-content{
                padding: 10px;
            }
            .card-image {
                img{
                    height: 150px;
                    object-fit: cover;
                }
            }
            .name{
                font-size: 18px;
                line-height: 20px;
            }
            .age{
                font-size: 14px;
                line-height: 20px;
            }
            .reason{
                font-size: 14px;
                margin-top: 10px;
                margin-bottom: 15px;
            }
            .amount_paid{
                font-size: 16px;
                line-height: 20px;
                margin-top: 5px;
                span{
                    font-size: 13px;
                    line-height: 20px;
                }
            }
            .amount_tobe_paid{
                margin-top: 5px;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 20px;
                span{
                    font-size: 13px;
                    line-height: 20px;
                }
            }
            .volunterHelp{
                margin-bottom: 10px;
                span{
                    font-size: 16px;
                    line-height: 20px;
                }
                .iconChevron{
                    font-size: 25px;
                }
            }
        }
    }
}