h1{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 60px;
}
@media(max-width:1440px){
    h1{
        font-size: 38px;
        line-height: 45px;
    }
}
@media(max-width:1270px){
    h1{
        margin-bottom: 30px;
    }
}