.sidebar{
    .sidebarList{
        background: #FFFFFF;
        border-radius: 12px;
        padding: 36px 25px 6px 25px;
        margin: 0 20px 0 0;
        width: 390px;
        height: 282px;
        .sidebarListItem{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            /* identical to box height, or 125% */
            margin-bottom: 30px;
            width: 340px;
            height: 30px;
            /* blue */
            .sidebarListItemLink{
                color: rgba(0, 0, 0, 0.9);
                opacity: 0.6;
            }
            .active{
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                /* identical to box height, or 125% */


                /* blue */
                opacity: 1;
                color: #5B82EB;
            }
            
        }
        
    }
    p{
        background: #FFFFFF;
        border-radius: 12px;
        padding: 15px 109px;
        margin-right: 6px;
        .getHelp{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height, or 150% */

            text-transform: uppercase;

            /* yellow */

            color: #F7B70D;
        }
        .volunteerHelp{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height, or 150% */

            text-transform: uppercase;

            /* efe */

            color: #6B93FF;
        }
    }

}