.sidebar{
    .sidebarList{
        background: #FFFFFF;
        border-radius: 12px;
        padding: 36px 25px 6px 25px;
        margin-top: 0;
        .sidebarListItem{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 30px;
            height: 30px;
            .sidebarListItemLink{
                color: rgba(0, 0, 0, 0.9);
                opacity: 0.6;
            }
            .active{
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;
                opacity: 1;
                color: #5B82EB;
            }
            
        }
        
    }
    p{
        background: #FFFFFF;
        border-radius: 12px;
        text-align: center;
        padding: 15px;
        .getHelp{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 30px;
            text-transform: uppercase;
            color: #F7B70D;
        }
        .volunteerHelp{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 30px;
            text-transform: uppercase;
            color: #6B93FF;
        }
    }
}

@media(max-width:1440px){
    .sidebar{
        .sidebarList{
            padding: 26px 15px 6px 15px;
            margin-top: 0;
            .sidebarListItem{
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 24px;
                height: 24px;
                
                .active{
                    font-size: 20px;
                    line-height: 24px;
                }
                
            }
            
        }
        p{
            padding: 15px;
            .getHelp{
                font-size: 18px;
                line-height: 24px;
            }
            .volunteerHelp{
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}
@media(max-width:1270px){
    .sidebar{
        .sidebarList{
            padding: 16px 10px 6px 10px;
            .sidebarListItem{
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 20px;
                height: 100%;
                .active{
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
        p{
            padding: 10px;
            .getHelp{
                font-size: 16px;
                line-height: 20px;
            }
            .volunteerHelp{
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}
@media(max-width:992px){
    .sidebar{
        display: none;
        .sidebarList{
            padding: 16px 10px 6px 10px;
            .sidebarListItem{
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 20px;
                height: 100%;
                .active{
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
        p{
            padding: 10px;
            .getHelp{
                font-size: 16px;
                line-height: 20px;
            }
            .volunteerHelp{
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}