.SideNews{
    .SideNewsCard{
        background: #FFFFFF;
        border-radius: 12px;
        margin: 0 0 25px 10px;
        box-shadow: none;
        padding: 10px;
        .card-image{
            img{
                border-radius: 10px;
                object-fit: cover;
            }
        }
        .card-content{
            padding: 10px;
        }
        .categorynews{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            /* identical to box height, or 133% */

            text-align: center;
            text-transform: uppercase;

            /* blue */

            color: #5B82EB;

        }
        .accessTime{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .accessTimeIcon{
                opacity: 0.5;
                font-size: 17px;
                margin-right: 10px;
            }
            .accessDate{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                /* identical to box height, or 150% */

                text-align: center;

                /* black */

                color: rgba(0, 0, 0, 0.9);
            }
        }
        .SideNewsContex{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            /* or 130% */
            /* black */
            color: rgba(0, 0, 0, 0.9);
        }
    }
}


@media(max-width:1440px){
    .SideNews{
        .SideNewsCard{
            margin: 0 0 15px 0px;
            box-shadow: none;
            padding: 10px;
            .card-image{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .card-content{
                padding: 10px 0;
            }
            .categorynews{
                font-size: 10px;
                line-height: 16px;
            }
            .accessTime{
                .accessTimeIcon{
                    font-size: 17px;
                }
                .accessDate{
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            .SideNewsContex{
                font-size: 18px;
                line-height: 20px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
    }
}

@media(max-width:1270px){
    .SideNews{
        .SideNewsCard{
            margin: 0 0 10px 0px;
            box-shadow: none;
            padding: 10px;
            .card-image{
                img{
                    width: 100%;
                    height: 95px;
                }
            }
            .card-content{
                padding: 5px 0;
                div{
                    .row{
                        margin-bottom: 5px;
                    }
                }
            }
            .categorynews{
                font-size: 10px;
                line-height: 16px;
            }
            .accessTime{
                .accessTimeIcon{
                    font-size: 17px;
                }
                .accessDate{
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            .SideNewsContex{
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}
@media(max-width:991px){
    .SideNews{
        .row{
            .col{
                display: flex;
                align-items: center;
            }
            .SideNewsCard{
                width: 270px;
                margin: 0 20px 0px 0px;
                box-shadow: none;
                padding: 10px;
                .card-image{
                    img{
                        width: 100%;
                        height: 95px;
                    }
                }
                .card-content{
                    padding: 5px 0;
                    div{
                        .row{
                            margin-bottom: 5px;
                        }
                    }
                }
                .categorynews{
                    font-size: 10px;
                    line-height: 16px;
                }
                .accessTime{
                    .accessTimeIcon{
                        font-size: 17px;
                    }
                    .accessDate{
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
                .SideNewsContex{
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
        
    }
}