.statisticaHead{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 38px;
    margin-bottom: 30px;
    margin-top: 120px;
    color: rgba(0, 0, 0, 0.9);
}
.tabs{
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    top: 0px;
    width: max-content;
    right: 0px;
    .indicator{
        background-color: #5B82EB ;
    }
    .tab {
        a{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 28px;
            text-align: center;
            color: rgba(100, 100, 100, 0.9);
            &:hover{
                color: #5B82EB !important;
            }
        }
        a:focus.active{
                background-color: transparent !important;
                outline: none;
        }
        .active{
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 28px;
            /* identical to box height, or 117% */


            /* blue */

            color: #5B82EB !important;
        }
    }
}
.tabs-content{
    height: 800px !important;
    background-color: white;
    border-radius: 15px;
    .statisticaTabContent{
        padding: 40px 50px 34px 50px;
        .tabHeader{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .statisticaTabHeaderHead{
                font-family:Poppins ;
                font-style: normal;
                font-weight: 800;
                font-size: 28px;
                line-height: 38px;
                color: rgba(0, 0, 0, 0.8);
                float: left;
            }
            .Datepickers{
               display: flex;
               align-items: center;
               span{
                   font-family: Gilroy;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 38px;
                    /* identical to box height, or 136% */

                    text-align: center;

                    color: rgba(0, 0, 0, 0.8);
               }
               .datepiker1{
                   .input-field{
                       input{
                            font-family: Poppins;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 22px !important;
                            line-height: 28px;
                            /* identical to box height, or 127% */

                            text-align: center;

                            color: #000000;

                            opacity: 0.5;
                       }
                   }
               }
            }
            
            
        }
        .statisticaSidebar{
            margin-left: 50px;
            .statisticaSidebarHead{
                font-family: Gilroy;
                font-style: normal;
                font-weight: 800;
                font-size: 28px;
                line-height: 38px;
                /* or 136% */
                width: 200px;
                height: 76px;
                margin: 10px;
                color: rgba(0, 0, 0, 0.8);
            }

            .piechartSection{
                background: #F7F8F9;
                border-radius: 12px;
                padding: 10px;
                margin-bottom: 20px;
                .DoughnutChart{
                    position: relative;
                    top:0px;
                    left: -20%;
                }
                .persentageWrapper{
                    position: relative;
                    top:20px;
                    left: -150%;
                    .persentageCount{
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 28px;
                    line-height: 34px;
                    /* black */
                    margin: 0;
                    color: rgba(0, 0, 0, 0.9);
                    }
                    p{
                        margin: 0;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        /* identical to box height, or 137% */

                        text-align: center;

                        /* black */

                        color: rgba(0, 0, 0, 0.9);

                        opacity: 0.5;
                    }
                }
                .persentageUpAndDown{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 30px;
                    margin-right: 20px;
                    .persentageIcon{
                        color: #489F09;
                    }
                    .persentageIconDown{
                        color: #D80027;
                    }
                    span{
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        /* identical to box height, or 137% */

                        text-align: center;

                        color: #489F09;

                        opacity: 0.5;
                    }
                }
                
            }
        }
    }
}


@media (max-width:1440px){
    .statisticaHead{
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 20px;
        margin-top: 60px;
    }
    .tabs{
        .tab {
            a{
                font-size: 20px;
                line-height: 20px;
            }
            .active{
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
    .tabs-content{
        height: 600px !important;
        .statisticaTabContent{
            padding: 0px 30px 0px 30px;
            .tabHeader{
                .statisticaTabHeaderHead{
                    font-size: 24px;
                    line-height: 28px;
                }
                .Datepickers{
                   span{
                        font-size: 20px;
                        line-height: 28px;
                   }
                   .datepiker1{
                       .input-field{
                           input{
                                font-size: 18px !important;
                                line-height: 18px;
                           }
                       }
                   }
                }
                
                
            }
            .statisticaSidebar{
                margin-left: 0px;
                .statisticaSidebarHead{
                    font-size: 24px;
                    line-height: 28px;
                    width: 100%;
                    height: 100%;
                    margin: 10px 10px 20px 10px;
                }
    
                .piechartSection{
                    padding: 10px;
                    margin-bottom: 20px;
                    .DoughnutChart{
                        position: relative;
                        top:0px;
                        left: -20%;
                    }
                    .persentageWrapper{
                        top:20px;
                        left: -150%;
                        .persentageCount{
                        font-size: 26px;
                        line-height: 30px;
                        }
                        p{
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                    .persentageUpAndDown{
                        margin-top: 30px;
                        margin-right: 20px;
                        .persentageIcon{
                            color: #489F09;
                        }
                        .persentageIconDown{
                            color: #D80027;
                        }
                        span{
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:1270px){
    .statisticaHead{
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 20px;
        margin-top: 60px;
    }
    .tabs{
        .tab {
            a{
                font-size: 20px;
                line-height: 20px;
            }
            .active{
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
    .tabs-content{
        height: 550px !important;
        .statisticaTabContent{
            padding: 0px 30px 0px 30px;
            .tabHeader{
                .statisticaTabHeaderHead{
                    font-size: 22px;
                    line-height: 22px;
                }
                .Datepickers{
                   span{
                        font-size: 18px;
                        line-height: 22px;
                   }
                   .datepiker1{
                       .input-field{
                           input{
                                font-size: 18px !important;
                                line-height: 18px;
                           }
                       }
                   }
                }
                
                
            }
            .statisticaSidebar{
                margin-left: 0px;
                .statisticaSidebarHead{
                    font-size: 22px;
                    line-height: 22px;
                    width: 100%;
                    height: 100%;
                    margin: 10px 10px 20px 10px;
                }
    
                .piechartSection{
                    padding: 5px;
                    margin-bottom: 20px;
                    .DoughnutChart{
                        position: relative;
                        top:10px;
                        left: -20%;
                    }
                    .persentageWrapper{
                        top:20px;
                        left: -150%;
                        .persentageCount{
                        font-size: 26px;
                        line-height: 30px;
                        }
                        p{
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                    .persentageUpAndDown{
                        margin-top: 30px;
                        margin-right: 20px;
                        .persentageIcon{
                            color: #489F09;
                        }
                        .persentageIconDown{
                            color: #D80027;
                        }
                        span{
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:576px){
    .statisticaHead{
        font-size: 30px;
        margin-bottom: 100px;
        margin-top: 0px;
    }
    .tabs{
        top: 70px;
        .tab {
            a{
                font-size: 14px;
                line-height: 18px;
            }
            .active{
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .tabs-content{
        height: 850px !important;
        .statisticaTabContent{
            padding: 0px 10px;
            .tabHeader{
                display: flex;
                flex-direction: column;
                .statisticaTabHeaderHead{
                    font-size: 18px;
                    line-height: 18px;
                    margin-bottom: 0;
                    text-align: center;
                }
                .Datepickers{
                    text-align: center;
                   span{
                        font-size: 16px;
                        line-height: 20px;
                   }
                   .datepiker1{
                       .input-field{
                           input{
                                font-size: 14px !important;
                                line-height: 18px;
                           }
                       }
                   }
                }
                
                
            }
            .statisticaSidebar{
                margin-left: 0px;
                .statisticaSidebarHead{
                    font-size: 18px;
                    line-height: 20px;
                    width: 100%;
                    height: 100%;
                    margin: 20px 10px 20px 10px;
                }
    
                .piechartSection{
                    padding: 5px;
                    margin-bottom: 15px;
                    .DoughnutChart{
                        position: relative;
                        top:10px;
                        left: -20%;
                    }
                    .persentageWrapper{
                        top:20px;
                        left: -150%;
                        .persentageCount{
                        font-size: 26px;
                        line-height: 30px;
                        }
                        p{
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                    .persentageUpAndDown{
                        margin-top: 30px;
                        margin-right: 20px;
                        .persentageIcon{
                            color: #489F09;
                        }
                        .persentageIconDown{
                            color: #D80027;
                        }
                        span{
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}