.modal{
    background-color: #FFFFFF;
}
.notificationsCard{
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 25px;
    cursor: pointer;
    img{
        width: 160px;
        height: 194px;
        object-fit: cover;
        border-radius: 10px;
    }
    .cardContent{
        padding: 10px;
        h3{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        margin: 0 0 10px 0;
        color: rgba(0, 0, 0, 0.9);
        }
        p{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            color: #2C3E50;
            opacity: 0.8;
            display: flex;
            align-items: center;
            span{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                color: rgba(0, 0, 0, 0.9);
                margin-left: 10px;
            }
        }
    }
}

@media(max-width:1440px){
    .notificationsCard{
        display: flex;
        flex-direction: column;
        img{
            width: 200px;
            height: 194px;
            margin: 0 auto;
        }
    }
}
@media(max-width:992px){
    .notificationsCard{
        display: flex;
        flex-direction: row;
        img{
            width: 160px;
            height: 194px;
            margin: 0 auto;
        }
    }
}
@media(max-width:600px){
    .notificationsCard{
        display: flex;
        flex-direction: column;
        img{
            width: 200px;
            height: 194px;
            margin: 0 auto;
        }
    }
}