.contactContent{
    background: #FFFFFF;
    border-radius: 12px;
    position: absolute;
    width: 33%;
    left: 803px;
    top: 48px;
    padding:  30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .contactLocation{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.9);
        margin-bottom: 35px;
    }
    .location,.bus,.metro,.working_hours{
            display: flex;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #2C3E50;
            margin-bottom: 36px;
        span{
            margin-left: 10px;
        }
    }
    .contactNumbers{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.9);
        margin-bottom: 44px;
    }
    .Helpline{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #2C3E50;
        span{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 38px;
            color: #2C3E50;
            margin-left: 30px;
        }
    }
    .phone,.email{
            display: flex;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #2C3E50;
            margin-bottom: 36px;
            span{
                color: #6B93FF;
                margin-left: 10px;
            }
    }
}

@media(max-width:1440px){
    .iframe{
        margin-bottom: 60px !important;
    }
    .contactContent{
    right: 100px !important;
    left: auto;
    top: 50px;
    .contactLocation{
        font-size: 32px;
        margin-bottom: 20px;
    }
    .location,.bus,.metro,.working_hours{
            font-size: 16px;
            line-height: 28px;
            color: #2C3E50;
            margin-bottom: 26px;
        span{
            margin-left: 5px;
        }
    }
    .contactNumbers{
        font-size: 32px;
        margin-bottom: 20px;
    }
    .Helpline{
        font-size: 20px;
        span{
            font-size: 26px;
            line-height: 30px;
        }
    }
    .phone,.email{
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 20px;
            span{
                margin-left: 10px;
            }
    }
}
}
@media(max-width:1200px){
    .iframe{
        margin-bottom: 60px !important;
    }
    .contactContent{
    left: auto;
    top: 20px;
    padding: 20px;
    .contactLocation{
        font-size: 24px;
        margin: 0px;
    }
    .location,.bus,.metro,.working_hours{
            font-size: 14px;
            line-height: 24px;
            color: #2C3E50;
            margin-bottom: 16px;
        span{
            margin-left: 5px;
        }
    }
    .contactNumbers{
        font-size: 24px;
        margin-bottom: 0px;
    }
    .Helpline{
        font-size: 16px;
        span{
            font-size: 20px;
            line-height: 30px;
        }
    }
    .phone,.email{
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0px;
            span{
                margin-left: 10px;
            }
    }
}
}
@media(max-width:992px){
    .iframe{
        margin-bottom: 60px !important;
    }
    .contactContent{
    background:transparent;
    position: relative;
    width: 100%;
    left: 0px;
    top: -30px;
    .contactLocation{
        font-size: 28px;
        margin: 0px;
    }
    .location,.bus,.metro,.working_hours{
            font-size: 14px;
            line-height: 28px;
            color: #2C3E50;
            margin-bottom: 16px;
        span{
            margin-left: 5px;
        }
    }
    .contactNumbers{
        font-size: 28px;
        margin-bottom: 0px;
    }
    .Helpline{
        font-size: 16px;
        span{
            font-size: 24px;
            line-height: 30px;
        }
    }
    .phone,.email{
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0px;
            span{
                margin-left: 10px;
            }
    }
}
}