body {
  margin: 0;
  background: #F7F8F9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (min-width:1440px) {
   .container{
     max-width: 1440px !important;
     width: 90%;
   }
}

@media (min-width: 768px) {
  .container {
      max-width: 990px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 1140px;
      width: 90%;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1200px;
      width: 90%;
  }
}
